<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Page Consultations</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Consultations</h1>
        <h3>Gestion des Consultations :</h3>

        <div>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Medecin</th>
                        <th>Patient</th>
                        <th>Secretaire</th>
                        <th>Salle</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="consultation in listeConsultations" ng-class-even="'even'" ng-class-odd="'odd'">
                        <td>{{consultation.id}}</td>
                        <td>{{consultation.idMedecin.nom}}</td>
                        <td>{{consultation.idPatient.nom}}</td>
                        <td>{{consultation.idSecretaire.nom}}</td>
                        <td>{{consultation.idSalle.nom}}</td>
                        <td>{{consultation.date}}</td>
                        <td><button ng-class="'bouton-supprimer'" ng-click="deleteConsultation(consultation.id)">Supprimer</button></td>
                    </tr>
                </thead>
            </table>
        </div>

        <h3>Formulaire pour ajouter une consultation:</h3>
        <div>
            <form role="form" ng-submit="createConsultation()">
                <div class="form-group">
                    <label for="medecin">Medecin :</label>
                    <select ng-model="medecin" ng-options="s as s.nom for s in listeMedecins" >    
                    </select>
                </div>
                <div class="form-group">
                    <label for="patient">Patient :</label>
                    <select ng-model="patient" ng-options="s as s.nom for s in listePatients" >    
                    </select>
                </div>
                <div class="form-group">
                    <label for="secretaire">Secretaire :</label>
                    <select ng-model="secretaire" ng-options="s as s.nom for s in listeSecretaires" >    
                    </select>
                </div>
                <div class="form-group">
                    <label for="salle">Salle :</label>
                    <select ng-model="salle" ng-options="s as s.nom for s in listeSalles" >    
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Date :</label> {{date}}
                    <datepicker ng-model="date" show-weeks="true" class="well well-sm" required></datepicker>
                </div>
                <br>
                <button type="submit" ng-class="'bouton-ajouter'">Ajouter</button>
            </form>
        </div>

        <h3>Formulaire pour modifier une consultation:</h3>
        <div>
            <form role="form" ng-submit="updateConsultation(consultation_choisie)">
                <div class="form-group">
                    <label for="consultation">Consultation :</label>
                    <select ng-model="consultation_choisie" ng-options="s as s.id for s in listeConsultations" >    
                    </select>
                </div>
                <div class="form-group">
                    <label for="medecin">Medecin :</label>
                    <select ng-model="consultation_choisie.idMedecin" ng-options="s as s.id for s in listeMedecins" >    
                    </select>
                </div>
                <div class="form-group">
                    <label for="patient">Patient :</label>
                    <select ng-model="consultation_choisie.idPatient" ng-options="s as s.id for s in listePatients" >    
                    </select>
                </div>
                <div class="form-group">
                    <label for="secretaire">Secretaire :</label>
                    <select ng-model="consultation_choisie.idSecretaire" ng-options="s as s.id for s in listeSecretaires" >    
                    </select>
                </div>
                <div class="form-group">
                    <label for="salle">Salle :</label>
                    <select ng-model="consultation_choisie.idSalle" ng-options="s as s.nom for s in listeSalles" >    
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Date :</label> {{consultation_choisie.date}}
                    <datepicker ng-model="consultation_choisie.date" show-weeks="true" class="well well-sm" required></datepicker>
                </div>
                <br>
                <button type="submit" ng-class="'bouton-modifier'">Modifier</button>
            </form>
        </div>


    </body>
</html>
